In [5]:
firstname='Debangshu'
lastname='Giri'
print(firstname,lastname)

Debangshu Giri

In [6]:
firstname="Debangshu"
lastname="giri"
print(firstname,lastname)

Debangshu giri

In [7]:
a=89
b=98
print(a+b)

187

In [8]:
#dsrscientist

In [12]:
x=10

In [19]:
o="value of x = 10"
print(o)

value of x = 10

In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\user'

In [3]:
import keyword

In [6]:
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [7]:
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [8]:
import pandas as pd

In [11]:
pd.read_csv(r"C:\Users\user\Desktop\quotation.csv")

,SR NO.,PART NO,DESCRIPTION,QTY,RATE,AMOUNT
0,1,F9K00222,"Cyl Liner ""X"" B-PF",4,1550,6200.0
1,2,P2607717,DCG KIT -WITH CHG-4D-E0-E3,1,4240,4240.0
2,3,P0951151,MAIN BEARING SET 4CT,1,1071,1071.0
3,4,X4900201,TH WASHER LOWER,2,51,102.0
4,5,X4900301,TH WASHER UPPER,2,51,102.0
5,6,P0983151,Engine Set 4CTI E3,1,11690,11690.0
6,7,P0951551,Con Rod Brg Set-Std-H4 Rif Hole,1,933,933.0
7,9,X2706700,Timing Oil Seal H Series PTFE,1,305,305.0
8,10,X2705100,Crankshaft Rear Oil Seal PTFE,1,1090,1090.0
9,11,B8255001,Oil Pump Assy 4CTI A-PF,1,3230,3230.0
10,13,B8760406,Water Pump Assy H Series (MI),1,3150,3150.0
11,14,F1762100,GASKET CYL HEAD COVER 4D,1,851,851.0
12,15,P0950951,Comp Valve Seat Kit H4,1,1670,1670.0
13,17,P0951051,Comp Valve Kit H4,1,2680,2680.0
14,18,X1813022,EXHAUST MANIFOLD,1,2950,2950.0
15,19,X3504411,SPECIAL STUD FOR TURBOCHARGER MOUNTING,8,34,272.0
16,20,F7F00115,Nut Ex-Manifold-M10X1.25FPx9.6L,8,27,216.0
17,21,F1200410,Spacer Exhaust Manifold Mtg Bolt,4,17,68.0
18,22,FFF00213,GASKET EXHAUST MANIFOLD,4,45,180.0
19,23,F0741822,Starter Ring 310/330D Cl,1,1512,1512.0
20,24,F8824500,Fuel Strainer,1,160,160.0
21,25,F8835100,Fuel Filter Cum Water Seperator,1,1560,1560.0
22,26,P7Y00062,BLUE MAXX 95GM,3,514,1542.0
23,27,F7A05000,Spin On Oil Filter 80K,1,1790,1790.0
24,28,X1W01100,Thermostat 82 Degree H4/H6,1,890,890.0
25,29,X1203515,SPACER LONG For EMF mounting Long Stud,4,44,176.0
26,30,E9999998,SUPER FLEET LE DURA MAX 15W-40,10,268,2680.0
27,NaN,NaN,NaN,NaN,TOTAL,51310.0
28,NaN,NaN,NaN,NaN,NaN,NaN
29,LABOUR CHARGES,NaN,NaN,NaN,NaN,NaN
30,NaN,O/H engine and assemble,NaN,NaN,15000,15000.0
31,NaN,cylinder head repowring wok,NaN,approx,10000,10000.0
32,NaN,FIP & Nozzle,NaN,approx,20000,20000.0
33,Labour Total(B),NaN,NaN,NaN,NaN,45000.0
34,Gst @18% on Labour,NaN,NaN,NaN,NaN,8100.0
35,Labour Total(B),NaN,NaN,NaN,NaN,53100.0
36,Grand Total(A+B),NaN,NaN,NaN,NaN,104410.0

In [13]:
F="any excel file can save in comma by this process, file>export>choose the comma>save as>save"
print(F)

any excel file can save in comma by this process, file>export>choose the comma>save as>save

In [14]:
pd.read_excel(r"C:\Users\user\Desktop\MICT - ESTIMATE - OVERHAUL.xlsx")

,SR NO.,PART NO,DESCRIPTION,QTY,RATE,AMOUNT
0,1,F9K00222,"Cyl Liner ""X"" B-PF",4,1550,6200.0
1,2,P2607717,DCG KIT -WITH CHG-4D-E0-E3,1,4240,4240.0
2,3,P0951151,MAIN BEARING SET 4CT,1,1071,1071.0
3,4,X4900201,TH WASHER LOWER,2,51,102.0
4,5,X4900301,TH WASHER UPPER,2,51,102.0
5,6,P0983151,Engine Set 4CTI E3,1,11690,11690.0
6,7,P0951551,Con Rod Brg Set-Std-H4 Rif Hole,1,933,933.0
7,9,X2706700,Timing Oil Seal H Series PTFE,1,305,305.0
8,10,X2705100,Crankshaft Rear Oil Seal PTFE,1,1090,1090.0
9,11,B8255001,Oil Pump Assy 4CTI A-PF,1,3230,3230.0
10,13,B8760406,Water Pump Assy H Series (MI),1,3150,3150.0
11,14,F1762100,GASKET CYL HEAD COVER 4D,1,851,851.0
12,15,P0950951,Comp Valve Seat Kit H4,1,1670,1670.0
13,17,P0951051,Comp Valve Kit H4,1,2680,2680.0
14,18,X1813022,EXHAUST MANIFOLD,1,2950,2950.0
15,19,X3504411,SPECIAL STUD FOR TURBOCHARGER MOUNTING,8,34,272.0
16,20,F7F00115,Nut Ex-Manifold-M10X1.25FPx9.6L,8,27,216.0
17,21,F1200410,Spacer Exhaust Manifold Mtg Bolt,4,17,68.0
18,22,FFF00213,GASKET EXHAUST MANIFOLD,4,45,180.0
19,23,F0741822,Starter Ring 310/330D Cl,1,1512,1512.0
20,24,F8824500,Fuel Strainer,1,160,160.0
21,25,F8835100,Fuel Filter Cum Water Seperator,1,1560,1560.0
22,26,P7Y00062,BLUE MAXX 95GM,3,514,1542.0
23,27,F7A05000,Spin On Oil Filter 80K,1,1790,1790.0
24,28,X1W01100,Thermostat 82 Degree H4/H6,1,890,890.0
25,29,X1203515,SPACER LONG For EMF mounting Long Stud,4,44,176.0
26,30,E9999998,SUPER FLEET LE DURA MAX 15W-40,10,268,2680.0
27,NaN,NaN,NaN,NaN,TOTAL,51310.0
28,NaN,NaN,NaN,NaN,NaN,NaN
29,LABOUR CHARGES,NaN,NaN,NaN,NaN,NaN
30,NaN,O/H engine and assemble,NaN,NaN,15000,15000.0
31,NaN,cylinder head repowring wok,NaN,approx,10000,10000.0
32,NaN,FIP & Nozzle,NaN,approx,20000,20000.0
33,Labour Total(B),NaN,NaN,NaN,NaN,45000.0
34,Gst @18% on Labour,NaN,NaN,NaN,NaN,8100.0
35,Labour Total(B),NaN,NaN,NaN,NaN,53100.0
36,Grand Total(A+B),NaN,NaN,NaN,NaN,104410.0
37,NaN,NaN,NaN,NaN,NaN,NaN
38,Note:After dismentling if any parts found dama...,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN
41,For ASL MOTORS,NaN,NaN,NaN,NaN,NaN

In [15]:
pd.read_excel(r"1235.xlsx")

,Job card number,Item (SD),Document Date,Customer,Name 1,Customer voice,KM/HR Reading,Counter unit,Odometer/Is SpeedoMeter Changed,Cumulative Counter Reading,...,Unnamed: 67,Quote Number,Request Time,Unnamed: 70,Failure Date,Secondary Counter Reading,Secondary Counter Reading Unit,Secondary Cumulative Reading,Secondary Cumulative Reading Unit,Secondary Odometer Change
0,2005416914,10,2019-08-05,10253919,KISHAN MARINE SERVICES LLP,NaN,10,KM,NaN,10,...,NaN,NaN,00:00:00,NaN,2019-08-05,0,NaN,0,NaN,NaN
1,2008276811,50,2020-06-12,10253919,KISHAN MARINE SERVICES LLP,Fuel Filter Replace,29487,KM,NaN,29487,...,NaN,2.008280e+09,2020-06-12 13:32:15,NaN,2020-06-12,0,NaN,0,NaN,NaN
2,2008276811,60,2020-06-12,10253919,KISHAN MARINE SERVICES LLP,Fuel Filter Replace,29487,KM,NaN,29487,...,NaN,2.008280e+09,2020-06-12 13:32:15,NaN,2020-06-12,0,NaN,0,NaN,NaN
3,2008276811,40,2020-06-12,10253919,KISHAN MARINE SERVICES LLP,Fuel Filter Replace,29487,KM,NaN,29487,...,NaN,2.008280e+09,2020-06-12 13:32:15,NaN,2020-06-12,0,NaN,0,NaN,NaN
4,2008276811,20,2020-06-12,10253919,KISHAN MARINE SERVICES LLP,Fuel Filter Replace,29487,KM,NaN,29487,...,NaN,2.008280e+09,2020-06-12 13:32:15,NaN,2020-06-12,0,NaN,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2015042202,180,2022-06-04,10253919,KISHAN MARINE SERVICES LLP,Engine oil changeFuel FilterHub Greasingcoolan...,114998,KM,NaN,114998,...,NaN,2.015048e+09,2022-06-04 09:39:31,NaN,2022-06-04,0,NaN,0,NaN,NaN
91,2015194698,10,2022-06-18,10253919,KISHAN MARINE SERVICES LLP,wiper blade chek,116285,KM,NaN,116285,...,NaN,2.015195e+09,2022-06-18 10:27:07,NaN,2022-06-18,0,NaN,0,NaN,NaN
92,2015194698,20,2022-06-18,10253919,KISHAN MARINE SERVICES LLP,wiper blade chek,116285,KM,NaN,116285,...,NaN,2.015195e+09,2022-06-18 10:27:07,NaN,2022-06-18,0,NaN,0,NaN,NaN
93,2015194698,30,2022-06-18,10253919,KISHAN MARINE SERVICES LLP,wiper blade chek,116285,KM,NaN,116285,...,NaN,2.015195e+09,2022-06-18 10:27:07,NaN,2022-06-18,0,NaN,0,NaN,NaN
94,2015194698,40,2022-06-18,10253919,KISHAN MARINE SERVICES LLP,wiper blade chek,116285,KM,NaN,116285,...,NaN,2.015195e+09,2022-06-18 10:27:07,NaN,2022-06-18,0,NaN,0,NaN,NaN

In [16]:
pd.read_csv("quotation.csv")

,SR NO.,PART NO,DESCRIPTION,QTY,RATE,AMOUNT
0,1,F9K00222,"Cyl Liner ""X"" B-PF",4,1550,6200.0
1,2,P2607717,DCG KIT -WITH CHG-4D-E0-E3,1,4240,4240.0
2,3,P0951151,MAIN BEARING SET 4CT,1,1071,1071.0
3,4,X4900201,TH WASHER LOWER,2,51,102.0
4,5,X4900301,TH WASHER UPPER,2,51,102.0
5,6,P0983151,Engine Set 4CTI E3,1,11690,11690.0
6,7,P0951551,Con Rod Brg Set-Std-H4 Rif Hole,1,933,933.0
7,9,X2706700,Timing Oil Seal H Series PTFE,1,305,305.0
8,10,X2705100,Crankshaft Rear Oil Seal PTFE,1,1090,1090.0
9,11,B8255001,Oil Pump Assy 4CTI A-PF,1,3230,3230.0
10,13,B8760406,Water Pump Assy H Series (MI),1,3150,3150.0
11,14,F1762100,GASKET CYL HEAD COVER 4D,1,851,851.0
12,15,P0950951,Comp Valve Seat Kit H4,1,1670,1670.0
13,17,P0951051,Comp Valve Kit H4,1,2680,2680.0
14,18,X1813022,EXHAUST MANIFOLD,1,2950,2950.0
15,19,X3504411,SPECIAL STUD FOR TURBOCHARGER MOUNTING,8,34,272.0
16,20,F7F00115,Nut Ex-Manifold-M10X1.25FPx9.6L,8,27,216.0
17,21,F1200410,Spacer Exhaust Manifold Mtg Bolt,4,17,68.0
18,22,FFF00213,GASKET EXHAUST MANIFOLD,4,45,180.0
19,23,F0741822,Starter Ring 310/330D Cl,1,1512,1512.0
20,24,F8824500,Fuel Strainer,1,160,160.0
21,25,F8835100,Fuel Filter Cum Water Seperator,1,1560,1560.0
22,26,P7Y00062,BLUE MAXX 95GM,3,514,1542.0
23,27,F7A05000,Spin On Oil Filter 80K,1,1790,1790.0
24,28,X1W01100,Thermostat 82 Degree H4/H6,1,890,890.0
25,29,X1203515,SPACER LONG For EMF mounting Long Stud,4,44,176.0
26,30,E9999998,SUPER FLEET LE DURA MAX 15W-40,10,268,2680.0
27,NaN,NaN,NaN,NaN,TOTAL,51310.0
28,NaN,NaN,NaN,NaN,NaN,NaN
29,LABOUR CHARGES,NaN,NaN,NaN,NaN,NaN
30,NaN,O/H engine and assemble,NaN,NaN,15000,15000.0
31,NaN,cylinder head repowring wok,NaN,approx,10000,10000.0
32,NaN,FIP & Nozzle,NaN,approx,20000,20000.0
33,Labour Total(B),NaN,NaN,NaN,NaN,45000.0
34,Gst @18% on Labour,NaN,NaN,NaN,NaN,8100.0
35,Labour Total(B),NaN,NaN,NaN,NaN,53100.0
36,Grand Total(A+B),NaN,NaN,NaN,NaN,104410.0

In [17]:
pd.read_csv(r"C:\Users\user\file.tsv.txt")

            0\t50\t5\t881250949
0          0\t172\t5\t881250949
1          0\t133\t1\t881250949
2        196\t242\t3\t881250949
3        186\t302\t3\t891717742
4         22\t377\t1\t878887116
...                         ...
99997    880\t476\t3\t880175444
99998    716\t204\t5\t879795543
99999   276\t1090\t1\t874795795
100000    13\t225\t2\t882399156
100001    12\t203\t3\t879959583

[100002 rows x 1 columns]

In [18]:
pd.read_csv("file.tsv.txt")

            0\t50\t5\t881250949
0          0\t172\t5\t881250949
1          0\t133\t1\t881250949
2        196\t242\t3\t881250949
3        186\t302\t3\t891717742
4         22\t377\t1\t878887116
...                         ...
99997    880\t476\t3\t880175444
99998    716\t204\t5\t879795543
99999   276\t1090\t1\t874795795
100000    13\t225\t2\t882399156
100001    12\t203\t3\t879959583

[100002 rows x 1 columns]

In [19]:
pd.read_csv("file.tsv.txt",sep="\t")

          0    50  5  881250949
0         0   172  5  881250949
1         0   133  1  881250949
2       196   242  3  881250949
3       186   302  3  891717742
4        22   377  1  878887116
...     ...   ... ..        ...
99997   880   476  3  880175444
99998   716   204  5  879795543
99999   276  1090  1  874795795
100000   13   225  2  882399156
100001   12   203  3  879959583

[100002 rows x 4 columns]

In [20]:
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [21]:
False is False

True

In [22]:
True is True

True

In [23]:
False and False

False

In [25]:
True and True

True

In [28]:
False is True

False

In [29]:
True is False

False

In [30]:
True and False is True

False

In [31]:
True and False is False

True

In [32]:
type(print)

builtin_function_or_method

In [35]:
True or False

True

In [36]:
True + True

2

In [37]:
True - True

0

In [38]:
True + False -True

0

In [39]:
5*True

5

In [46]:
3*True * 140*True * False

0

In [49]:
r=78
t=13
g=56
w=r/t+g
print(w)
type(w)

62.0

float

In [50]:
r=789
t=963
j=999
s=666
h=r+s+j-t
print(h)
type(h)

1491

int